body {
	text-align: center;
	margin: 0;
}

header {
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px;
}

nav {
	background-color: #00A6B3;
	color: #FFFFFF;
	padding: 20px 0;
}

main {
	margin: 35px 0 auto;
}
h1 {
	font-family: "Raleway", sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	margin: 0;
}

.headinglinks {
	font-family: "Raleway", sans-serif;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-weight: 600;
	text-decoration: none;
	font-size: 18px;
	margin: 0 20px;
	border-bottom: 2px solid transparent;
}

a:hover {
	border-color: white;
}



h2 {
	font-family: "Raleway", sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}

.instructions {
	font-family: "Droid serif", serif;
	line-height: 24px;
	font-size: 18px;
}

.why-text {
	font-family: "Droid Serif", serif;
	line-height: 24px;
	font-size: 14px;
}
h3 {
	font-family: "Raleway", sans-serif;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 18px;
}

img {
	margin: 40px 8px 0 8px;
}
.fine-print {
	font-family: "Droid Serif", serif;
	line-height: 24px;
	font-size: 12px;
}

#instalink {
	font-family: "Droid Serif", serif;
	color: #F15B31;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 12px;
	text-decoration: none;
}

.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}

footer {
	text-transform: uppercase;
	padding: 0 20px;
	background: #0D2C40;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
}
.copyright {
	font-family: "Raleway", sans-serif;
	float: left;
}

.message {
	font-family: "Raleway", sans-serif;
	float: right;
}

.name {
	color: #F15B31;
	font-weight: 700;
}
